body {
  font-family: Arial, sans-serif;
  background-color: rgb(44, 44, 131);
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

h1 {
  font-family: "Matemasie", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: black;
}

input {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

button {
  padding: 10px;
  font-size: 16px;
  margin-left: 5px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #218838;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  padding: 10px;
  font-size: 18px;
  background-color: #fff;
  margin-bottom: 5px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
}

.removeButton {
  margin-left: 30px;
  background-color: #dc3545;
}

.removeButton:hover {
  background-color: #c82333;
}
